{% extends "base.html" %}
{% load staticfiles %}
{% block title %}用户注册{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
                {% if state == 'success' %}
                    <div class="well">
                        <h2 class="text-success text-center">注册成功！</h2>
                    </div>
                {% elif state == 'repeat_error' %}
                    <div class="well">
                        <h2 class="text-warning text-center">密码重复错误</h2>
                    </div>
                {% elif state == 'empty' %}
                    <div class="well">
                        <h2 class="text-warning text-center">密码不能为空</h2>
                    </div>
                {% elif state == 'user_exist' %}
                    <div class="well">
                        <h2 class="text-danger text-center">用户已经存在</h2>
                    </div>
                {% endif %}
                <form method="POST" role="form" class="form-horizontal">
                    {% csrf_token %}
                    <table class="table table-striped">
                        {% for field in form %}
                        <tr>
                            <td>{{ field.label }}</td>
                            <td>{{ field }}</td>
                            <td>{{ field.errors }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    
                    <input type='submit' id="submit" value="注册">
                </form>
            </div>
        </div>
    </div>

{% endblock %}
