{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href={% static 'images/favicon.ico'%}>
                                
        <title>{% block title %}{% endblock %}</title>
        {% block head %}{% endblock %}
        <!-- Bootstrap core CSS -->
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
                                    
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href={% static 'css/ie10-viewport-bug-workaround.css'%} rel="stylesheet">
                                        
        <!-- Custom styles for this template -->
        <link href={% static 'css/dashboard.css'%} rel="stylesheet">
                                            
        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src={% static 'js/ie-emulation-modes-warning.js'%}></script>
        <link href={% static 'css/sidebar.css'%} rel="stylesheet">
        <script src={% static 'js/sidebar.js'%}></script>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    
    <body>
        <button class="button button-editor-solid view-switcher-button" data-dropdown="#view-switcher" id="view-switcher-button">
            <svg class="icon-view-switcher">
                <use xlink:href="#viewswitcher"></use>
            </svg>
            Change View
        </button>
        <div id="wrapper">
            <div class="overlay"></div>
            
            <!-- Sidebar -->
            <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                <ul class="nav sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">
                            Bootstrap 3
                        </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-home"></i> Home</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-folder"></i> Page one</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-file-o"></i> Second page</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-cog"></i> Third page</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">Dropdown heading</li>
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-bank"></i> Page four</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-dropbox"></i> Page 5</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-twitter"></i> Last page</a>
                    </li>
                </ul>
            </nav>
            <!-- /#sidebar-wrapper -->
            
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <h1 class="page-header">Awesome Bootstrap 3 Sidebar Navigation</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
            
        </div>
        <!-- /#wrapper -->

        
        <!-- Bootstrap core JavaScript
         ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src={% static 'js/jquery.min.js' %}><\/script>')</script>
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
        <script src={% static 'js/holder.min.js' %}></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src={% static 'js/ie10-viewport-bug-workaround.js' %}></script>
        {% block script %}{% endblock %}
    </body>
</html>
