{% extends "base.html" %}
{% load staticfiles %}
{% block title %}查看任务资料{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-11 col-md-offset-1">
                    <h2 class="text-center">{{ writing_task.title }}</h2>
                    <br>
                    <h3>作者：{{ writing_task.author }}</h3>
                    <h3>上传日期：{{ writing_task.publish_date|date:"Y-m-d" }}</h3>
                    <h3>状态：{{ writing_task.state }}</h3>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
