{% extends "base.html" %}
{% load staticfiles %}
{% block title %}查看任务资料{% endblock %}
{% block head %}
<style>
.btn-file {
        position: relative;
        overflow: hidden;
    }
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
</style>
{% endblock %}
{% block contentbody%}

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="well">
                <form method="POST" role="form" class="form-horizontal" enctype="multipart/form-data">
                    {% csrf_token %}
                    <dl class="dl-horizontal">
                        <dt><h3>标题</h3></dt>
                        <dd><h3>{{ writing_task.title }}</h3></dd>
                        {% if type %}
                        <dt><h3>作者</h3></dt>
                        <dd><h3>{{ writing_task.author }}</h3></dd>
                        {% endif %}
                        <dt><h3>上传日期</h3></dt>
                        <dd><h3>{{ writing_task.publish_date|date:"Y-m-d" }}</h3></dd>
                        <dt><h3>截止日期</h3></dt>
                        {% if type %}
                        <dd><h3>{{ writing_task.mentor_end_date|date:"Y-m-d" }}</h3></dd>
                        {% else %}
                        <dd><h3>{{ writing_task.end_date|date:"Y-m-d" }}</h3></dd>
                        {% endif %}
                        <dt><h3>状态</h3></dt>
                        <dd><h3>{{ writing_task.get_state_display }}</h3></dd>
                        <dt><h3>文档下载</h3></dt>
                        <dd><a href ="/media/{{ writing_task.originalfile }}"><h3>{{ writing_task.title }}</h3></a></dd>
                    </dl>
                    {% if sumbit %}
                        <div class="input-group col-md-8">
                            <label class="input-group-btn">
                                <span class="btn btn-primary">
                                    上传修改文件<input type="file" style="display: none;" multiple="" name="chosen_file">
                                </span>
                            </label>
                            <input type="text" class="form-control" readonly="" id="chosen_file_name_id">
                            <label class="input-group-btn">
                                <button class="btn btn-primary" type="submit">
                                        提交
                                </button>
                            </label>
                        </div>
                    {% endif %}
                </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
<script type="text/javascript">
function distribute(val)
{
    $.post('/writings/distribute_writing_task/' + {{writing_task.id}});
    window.location.href="/writings/view_writing_task/detail/?id=" + {{writing_task.id}};
}
</script>
<script type="text/javascript">
    $(document).ready( function() {
                      $(':file').on('fileselect', function(event, numFiles, label) {
                                    //console.log(numFiles);
                                    //console.log(label);
                                    $('#chosen_file_name_id').val(label);
                                    });
                      });
</script>
<script type="text/javascript">
    $(document).on('change', ':file', function() {
                   var input = $(this),
                   numFiles = input.get(0).files ? input.get(0).files.length : 1,
                   label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                   input.trigger('fileselect', [numFiles, label]);});
</script>
{% endblock %}
