{% extends "base.html" %}
{% load staticfiles %}
{% block title %}查看任务{% endblock %}

{% block contentbody %}

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-4 col-md-offset-8">
                        <form role="form" method="post" name="search_form">
                            {% csrf_token %}
                            <input type="search" class="form-control" name="keyword"
                                   placeholder="Enter keywords to search" id="id_search_input" onkeyup="key_up()"
                                   autofocus>
                        </form>
                    </div>

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>标题</th>
                            <th>作者</th>
                            <th>上传日期</th>
                            <th>截止日期</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for writing_task in writing_task_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ writing_task.title }}</a></td>
                                <td>{{ writing_task.author }}</td>
                                <td>{{ writing_task.publish_date|date:"Y-m-d" }}</td>
                                <td>{{ writing_task.mentor_end_date|date:"Y-m-d" }}</td>
                                <td><button type="button" class="btn btn-success" onclick="javascrtpt:window.location.href='/writings/get_writing_task/{{ writing_task.id }}' ">领取任务</button></td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td>暂无任务</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pager">
                            {% if writing_task_list.has_previous %}
                                <li class="previous"><a
                                        href="?typ={{ query_category }}&page={{ writing_task_list.previous_page_number }}">上一页</a>
                                </li>
                            {% else %}
                                <li class="previous disabled"><a href="#">上一页</a></li>
                            {% endif %}
                            第 {{ writing_task_list.number }} / {{ writing_task_list.paginator.num_pages }}页
                            {% if writing_task_list.has_next %}
                                <li class="next"><a
                                        href="?typ={{ query_category }}&page={{ writing_task_list.next_page_number }}">下一页</a>
                                </li>
                            {% else %}
                                <li class="next disabled"><a href="#">下一页</a></li>
                            {% endif %}
                        </ul>
                    </nav>
            </div>
        </div>
    </div>


{% endblock %}

{% block script %}
<script type="text/javascript">
    function key_up() {
        var old_value = $('#id_search_input').val();
        setTimeout(function () {
                   var new_value = $('#id_search_input').val();
                   if (old_value == new_value) {
                   document.search_form.submit();
                   }
                   }, 1500);
    }
</script>
{% endblock %}
