{% extends "base.html" %}
{% load staticfiles %}
{% block title %}登陆{% endblock %}
{% block head %}
    <link rel="stylesheet" href={% static 'css/demo.css'%}>
    <link rel="stylesheet" href={% static 'css/common.css'%}>
{% endblock %}
{% block contentbody %}
<div class="article embed article-active">
    <div class="panel" style="display:block">
        <div class="login-content">
                {% if state == 'not_exist_or_password_error' %}
                <div class="well">
                    <h2 class="text-danger text-center">用户不存在或密码错误</h2>
                </div>
                {% endif %}
                <form method="POST" role="form" class="form-signin" autocomplete="off">
                    {% csrf_token %}
                    <div class="username"><i class="fa fa-user"></i><input id="id_user_name" required name="username" type="text" class="form-control" value="" placeholder="请输入手机号码"></div>
                    <div class="password"><i class="fa fa-key"></i><input type="password" name="password" id="id_password" required class="form-control" value="" placeholder="请输入密码"></div>
                    <div id="vaptchaContainer">
                    </div>
                    <div name="submit-div" class="code" style="display: none;">
                        <a name="btn-login" id="id_btn_login" class="btn-login">登录</a>
                    </div>
                </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="https://cdn.vaptcha.com/v.js"></script>
<script>
    $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},async:false,
                })
</script>
<script>
    var form = {
        token: '',
        challenge: '',
        username: '',
        password: ''
    }
$.get('/getVaptcha', function (r) {
      var options = {
      vid: r.vid,//站点id ,string,必选,
      challenge: r.challenge,//验证流水号 ,string,必选,
      container: $('#vaptchaContainer'),//验证码容器,element,必选,
      type: "popup",//验证码类型,string,默认float,可选择float,popup,embed,
      https: true,//是否是https , boolean,默认true,(false:http),
      color:"#57ABFF",//点击式按钮的背景颜色,string
      outage: '/admin',
      success: function (token, challenge) {
      //当验证成功时执行回调,function,参数token为string,必选,
      //提交表单时将token，challenge一并提交，作为验证通过的凭证，服务端进行二次验证
      form.token = token;
      form.challenge = challenge;
      $('div[name=submit-div]').show();
      },
      fail: function () {
      //验证失败时执行回调
      //todo:执行人机验证失败后的事情
      }
      }
      //vaptcha对象
      var vaptcha_obj;
      window.vaptcha(options, function (obj) {
                     vaptcha_obj = obj;
                     //执行初始化
                     vaptcha_obj.init();
                     });
      }, 'json')
      
      $('.btn-login').click(function(e){
                            e.preventDefault();
                            
                            if (!form.token || !form.challenge) {
                            alert('请进行人机验证');
                            return false;
                            }
                            form.username = $('input[name=username]').val();
                            form.password = $('input[name=password]').val();
                            $.post('/profiles/login/',
                                   $('form').serialize(),
                                   function(state){
                                   if(state=='success')
                                   {
                                       window.location = '/profiles/userprofile'
                                   }
                                   else
                                   {
                                       window.location = '/profiles/login/?state=not_exist_or_password_error'
                                   }
                                   });
                            })
    </script>
{% endblock %}
