{% extends "base.html" %}
{% load staticfiles %}
{% block title %}用户注册{% endblock %}
{% block head %}


{% endblock %}

{% block contentbody %}

<div class="tab-pane fade in active" id="t1">
    <div class="content">
        <div class="well">
            {{ profileform.as_ul }}
        </div>
        
        {% if type %}
        <div class="well">
            {{ mentorform.as_ul}}
        </div>
        {% else %}
        <div class="well">
            {{ studentform.as_ul }}
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
{% block script %}

{% endblock %}
