{% extends "base.html" %}
{% load staticfiles %}
{% block title %}添加课程{% endblock %}
{% block head %}
    <link rel="stylesheet" href={% static 'bootstrap-datetimepicker-master/build/css/bootstrap-datetimepicker.css'%}>
{% endblock %}
{% block contentbody %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {% if state == 'success' %}
            <div class="well">
                <h2 class="text-success text-center">添加成功</h2>
            </div>
            {% endif %}
            
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                添加课程
            </button>
            
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                请选择第一节课的时间
                            </h4>
                        </div>
                        
                        <form method="POST" role="form" class="form-horizontal" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xs-3 col-md-2"></div>
                                <div class="col-xs-12 col-md-8">
                                    <div class="modal-body">
                                        <div class="input-group col-md-8">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class='input-group date' id='datetimepicker'>
                                                        <input type='text' class="form-control" name="date-time"/>
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-md-2"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <input type="submit" class="btn btn-primary"></input>
                            </div>
                        </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src={% static 'bootstrap-datetimepicker-master/build/js/bootstrap-datetimepicker.min.js'%}>
</script>
<script type="text/javascript">
    var t = moment();
    t.hour(8);
    t.minute(0);
$(function () {
      $('#datetimepicker').datetimepicker({
                                          sideBySide:true,
                                          calendarWeeks:true,
                                          showClear:true,
                                          stepping:60,
                                          minDate:t,
                                          disabledHours: [0, 1, 2, 3, 4, 5, 6, 7, 22, 23, 24],
                                          format:'YYYY-MM-DD HH:mm',
                                          });
            });
</script>
{% endblock %}
