{% extends "base.html" %}
{% load staticfiles %}
{% block title %}课程列表{% endblock %}
{% block head %}
{% endblock %}
 {% block contenthead %}
<div class="widget kopa-widget-breadcrumb">
                        <div class="widget-content">
                            <h3 class="breadcrumb-title">课程列表</h3>
                        </div>
</div>
{% endblock %}
{% block contentbody%}
<div class="col-md-8 col-sm-12 col-xs-12">
    <div class="shop-content">
        <ul class="products">
            <li class="product has-post-thumbnail">
                <a href="/courses/detail/1" class="woocommerce-LoopProduct-link">
                    <span class="onsale">折扣</span>
                    <img src={% static 'images/shop/1.jpg'%} alt="">
                    <span class="button add_to_cart_button ajax_add_to_cart">我要报名</span>
                </a>
                <div class="content">
                <h3><a href="#">寒假XXX作文班</a></h3>
                <p>By<a href="#">杨老师</a></p>
	            <div class="star-rating" title="Rated 5 out of 5">
	                <span><strong class="rating">5</strong> out of 5</span>
	            </div>
	            <span class="price">
	            <del>
	                <span class="woocommerce-Price-amount amount">
	                                        			<span class="woocommerce-Price-currencySymbol">¥</span>
	                                        			2888
	                                        		</span>
	                                        	</del>
		                                        <ins>
		                                        	<span class="woocommerce-Price-amount amount">
		                                        		<span class="woocommerce-Price-currencySymbol">¥</span>1888
		                                        	</span>
		                                        </ins>
	                                        </span>
		                                    
	                                    </div>
	                                </li>
	                                <li class="product has-post-thumbnail">
	                                    <a href="/courses/detail/2" class="woocommerce-LoopProduct-link">
	                                        <img src={% static 'images/shop/2.jpg'%} alt="">
	                                        <span class="button add_to_cart_button ajax_add_to_cart">我要报名</span>
	                                    </a>
	                                    <div class="content">
	                                    	<h3><a href="#">标准XXXX作文课</a></h3>
	                                        <p>
	                                        	By
	                                        	<a href="#">金老师</a>
	                                        </p>
	                                        <div class="star-rating" title="Rated 5 out of 5">
	                                        	<span>
	                                        		<strong class="rating">5</strong> out of 5
	                                        	</span>
	                                        </div>
	                                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">¥</span>2188</span></span>
		                                    
	                                    </div>
	                                </li>
	                            </ul>
	                            <nav class="woocommerce-pagination">
									<ul class="page-numbers">
										<li>
											<a class="prev page-numbers" href="#"><i class="fa fa-angle-left"></i></a>
										</li>
										<li>
											<span class="page-numbers current">1</span>
										</li>
										<li>
											<a class="next page-numbers" href="#"><i class="fa fa-angle-right"></i></a>
										</li>
									</ul>
								</nav>
                            </div>
                            
</div>
{% endblock %}

{% block script %}

{% endblock %}
