{% extends "base.html" %}
{% load staticfiles %}
{% block title %}我的作文{% endblock %}
{% block head %}


{% endblock %}

{% block contentbody %}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-2">
                <div class="list-group">
                    <a href="{% url 'courses_my_classes' %}" class="list-group-item" id="id_state_all">
                        全部课程
                    </a>
                </div>
            </div>
            <div class="col-md-9 col-md-offset-1">
                <div class="row">
                    <div class="col-md-4 col-md-offset-8">
                        <form role="form" method="post" name="search_form">
                            {% csrf_token %}
                            <input type="search" class="form-control" name="keyword"
                                placeholder="搜索课程" id="id_search_input" onkeyup="key_up()"
                                autofocus>
                                </form>
                    </div>
                </div>
                
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>课程序号</th>
                            <th>课程名称</th>
                            <th>开始时间</th>
                            <th>课程状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for class in class_list %}
                        <tr>
                            <td>{{ class.course_index }}</td>
                            <td><a href="">{{ class.course.title }}</a></td>
                            <td>{{ class.start_datetime|date:"Y-m-d h:i:s" }}</td>
                            <td>{{ class.end_datetime|date:"Y-m-d h:i:s" }}</td>
                            <td>{{ course.state }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td>暂无任务</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <nav>
                    <ul class="pager">
                        {% if class_list.has_previous %}
                        <li class="previous"><a
                            href="?typ={{ query_category }}&page={{ class_list.previous_page_number }}">上一页</a>
                        </li>
                        {% else %}
                        <li class="previous disabled"><a href="#">上一页</a></li>
                        {% endif %}
                        第 {{ class_list.number }} / {{ class_list.paginator.num_pages }}页
                        {% if class_list.has_next %}
                        <li class="next"><a
                            href="?typ={{ query_category }}&page={{ class_list.next_page_number }}">下一页</a>
                        </li>
                        {% else %}
                        <li class="next disabled"><a href="#">下一页</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
<script type="text/javascript">
    $('#id_state_{{ query_state }}').addClass("active");
</script>
<script type="text/javascript">
    function key_up() {
        var old_value = $('#id_search_input').val();
        setTimeout(function () {
                   var new_value = $('#id_search_input').val();
                   if (old_value == new_value) {
                   document.search_form.submit();
                   }
                   }, 1500);
    }
</script>
{% endblock %}
